<p>
  list works!
</p>
<ul>
  <li><a [routerLink]="['/details',1]">1</a></li>
  <li><a [routerLink]="['/details',2]">2</a></li>
  <li><a [routerLink]="['/details',3]">3</a></li>
  <li><a [routerLink]="['/details',4]">4</a></li>
  <li><a [routerLink]="['/details',5]">5</a></li>
  <li><a [routerLink]="['/details',6]">6</a></li>
  <li><a [routerLink]="['/details',7]">7</a></li>
  <li><a [routerLink]="['/details',8]">8</a></li>
  <li><a [routerLink]="['/details',9]">9</a></li>
  <li><a [routerLink]="['/details',10]">10</a></li>
</ul>